body{
    font-family: sans-serif 'Courier New', Courier, monospace;
    background-color:rgb(236, 230, 230);
}
.loginformsbox{
     width:500px;
     height: 750px;
    background-color:white;
    margin: 0 auto;

}
img{
    display: block;
    margin:0 auto;
    padding:20px 0;
}
h2{
    text-align:center;
    font-family: sans-serif;
    font-weight: bold;
    font-size:  40px;
}
h4{
    list-style-type: none;
    text-align: center;
    font-size: larger;
    font-family: courier;
}
.forms-group{
    display: flex;
    flex-direction: column;
    margin-left:5px;
    padding: 20px;
    outline: none;
}
.forms-group input{
    width: 400px;
    padding: 15px;
    border: none;
    border: 1px solid grey;
    border-radius: 10px;

}
.forms-group label{
    font-size: 20px;
    margin-left: 5px;
}
.cin a{
    text-decoration: none;
    color: purple;
    
}
.cin label{
    font-size:25px;

}
.tin{
    cursor: pointer;
    padding: 15px;
    width: 450px;
    margin: 10px 25px;
    background-color: blueviolet;
    border:none;
    border:1px solid white;
    border-radius: 10px;
    font-size: 20px;
}
.pin{
    margin: 0 60px;
    width:400px;
    font-weight:bold;
    font-size:20px;
    text-align: center;
    border: none;
    border: 1px solid gray;
    border-radius:10px;

}
.pin img{
    cursor: pointer;
    object-fit: contain;
    width: 30px;
    height: 35px;
    vertical-align: middle;
    display: inline-block;
}
.bin{
    font-size: 20px;
    font-family: courier;
    margin-left: 50px;
    margin-bottom:0;
}
.bin a{
    color: purple;
    text-decoration: none;
}
@media screen and (max-width:370px){
    body{
        background: none;
        width:100%;
        height: 100vh;
    }
    .loginformsbox{
        margin:auto;
        width: 100%;
        height: 100vh;
        
    }
    h2{
        font-size: 15px;
        font-weight: bold;
    }
    h4{
        font-size: 14px;
    }
        
        
    }
    
}
