*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font-family:sans-serif 'Courier New', Courier, monospace;
}
.link{
    text-decoration:none;
    color: purple;
}
.link:hover{
    color: blue;
}
.login-wrapper{
    display:flex;
    align-items: center;
    position: relative;
    height: 100%;
}
/*.login-wrapper .box-col{
    width: 50%;
    height: 100%;
    position: relative;*/
.login-wrapper{
    top: 50%;
    position: relative;
}
 .title img{
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 120px;
    margin-top: 0;
}
h2{
    text-align: center;
    font-family: sans-serif;
    font-weight: 5px;
    margin-bottom: 10px;
}
h4{
    margin-bottom: 10px;
    font-family: courier;
    font-size: 14px;
}
.login-wrapper .box-form{
    padding:20px;
    display: flex;
    height: 100%;
    align-items: center;
    position:relative;
    background-color: white;
}
.login-wrapper .inner{
    max-width: 350px;
    margin: auto;
}
.forms-head .title{

}
.forms-group{
    margin-bottom: 20px;
}
.forms-group .label-text{
    font-size: 16px;
    margin-bottom: 5px;
}
.forms-group .forms-control{
    width: 100%;
    height: 50px;
    padding: 7px 10px;
    outline:none;
    border: none;
    border: 1px solid grey;
    border-radius: 10px;

}
.pi{
    cursor: pointer;
    padding: 10px;
    width: 100%;
    background-color:blueviolet;
    border: none;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;
}
.pi:hover{
    background-color: aliceblue;
}
.bin{
    width: 350px;
    padding: 10px 10px;
    margin-bottom: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;

}
 .bin img{
     cursor: pointer;
    object-fit: contain;
    height: 30px;
    vertical-align: middle;
    display: inline-block;

}

.form-button{
    display:flex;
 justify-content: space-between;
}
.pin{
    margin-left: 50px;
    margin-top: 0%;
}
.pin a{
    text-decoration: none;
    color: purple;
}
@media screen and (max-width:370px){
    body{
        width: 100%;
        height:auto;
        
    }
    .login-wrapper{
        width: auto;
    
    }
}