*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font-family:sans-serif 'Courier New', Courier, monospace;
}
 .link{
    text-decoration:none;
    color: purple;
}
.link:hover{
    color: blue;
}
.login-wrapper{
    display:flex;
    align-items: center;
    position: relative;
    height: 100%;
}
/*.login-wrapper .box-col{
    width: 50%;
    height: 100%;
    position: relative;*/
.login-wrapper{
    top: 50%;
    position: relative;
}
 .title img{
    width: 50px;
    height: 50px;
    display: block;
    margin-left: 150px;
    margin-top: 0;
}
 h2{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    padding-bottom: 10px;
}
h4{
    margin-bottom: 10px;
    font-family: courier;
    font-size: 14px;
}
.login-wrapper .box-form{
    padding:20px;
    display: flex;
    height: 100%;
    align-items: center;
    position:relative;
    background-color: white;
}
.login-wrapper .inner{
    margin: auto;

}
.forms-group{
    margin-bottom: 20px;
}
.forms-group .label-text{
    font-size: 16px;
    margin-bottom: 5px;
}
.forms-group .forms-control{
    width: 100%;
    height: 50px;
    padding: 7px 10px;
    outline:none;
    border: none;
    border: 1px solid grey;
    border-radius: 10px;

}
.fin a{
    font-size: 40px;
}
.check-action{
    font-size: larger;
}
.pi{
    cursor: pointer;
    padding: 10px;
    width:100%;
    background-color:blueviolet;
    border: none;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;
}
.pi:hover{
    background-color: aliceblue;
}
.bin{
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 30px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;

}
 .bin img{
     cursor: pointer;
    object-fit: contain;
    height: 30px;
    vertical-align: middle;
    display: inline-block;

}

.form-button{
    display:flex;
 justify-content: space-between;
}
.pin{
    margin-left: 50px;
    margin-top: 0%;
}
.pin a{
    text-decoration: none;
    color: purple;
}
@media screen and (max-width:370px){
    body{
        width: 100%;
        height:auto;
        padding: 0%;
        
    }
    .title img{
        margin-left: 120px;
    }
    h4{
        font-size: 13px;
        margin-left: 10px;
        margin-bottom: 25px;
    }
    .login-wrapper .inner{
        width: 100%;
    }
    .forms-group .forms-control{
        width: 100%;
        height: 40px;
        margin-left: 5px;
        border-radius: 5px;
    }
    }
    .forms-group .label-text{
        margin-left: 8px;
    }
    .name{
        font-size: 15px;

    }
    .check-action{
        font-size: 10px;
    }
    .check-action a{
        font-size: 15px;
    }
    .pi{
        width:125%;
        font-size: 15px;
        margin-top: 20px;
        padding: 10px;
        border-radius: 5px;
        margin-left: 3px;
    }
    .check-action .check{
        margin-left: 10px;
    }
    .bin{
        width: 125%;
        font-size: 15px;
        margin-top: 20px;
        margin-left: 4px;
        border-radius: 5px;
    }
    .bin img{
        width: 15px;
        height: 15px;
    }
    .pin{
        font-size: 15px;
    }
    .pin a{
        font-size: 10px;
    }
@media screen and (min-width:600px){
    body{
        width:100%;
        height: auto;
    }
    .title img{
        width:100px;
        height: 100px;
        margin-left: 180px;
    }
    h2{
        font-size: 30px;
        padding-bottom: 20px;
    }
    h4{
        font-size: 20px;
        padding-bottom: 15px;
    }
    .login-wrapper{
        margin: 0 auto;
    }
    .login-wrapper .box-form{
      margin-left: 50px;
    }
    .forms-group{
        margin-bottom: 30px;
    }
    .forms-group .label-text{
        font-size: 20px;
    }
    .forms-group .forms-control{
        height: 40px;
        padding: 10px;
    }
    .pi{
        width: 180%;
        height: 40px;
    
        font-size: 10px;
     }
     .bin{
        width: 180%;
        height: 40px;
        padding: 0;
        font-size: 15px;
        }
        .pin{
            padding: 0;
            font-size: 15px;
            margin-left: 70px;
            margin-bottom:0;
        }

}
@media  screen and (max-width:330px){
    body{
        width: 100%;
        height: auto;
    }
    h2{
        font-size: 15px;
    }
    h4{
        font-size: 10px;
    }
    .title img{
        margin-left: 100px;
    }
    .forms-group .forms-control{
        padding: 10px;
    }
    .pin{
        padding: 10px;
        margin: 0;
    }
    .bin{
        padding: 5px;
        width: 100%;
        margin: 3px;
    }
    .pi{
        margin-top: 3px;
        width: 100%;
    }
    
}